<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shop_manager"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:label="가게매니저"
        android:theme="@style/Theme.App">

        <service
            android:name="com.shop_manager.ui.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity android:name="com.shop_manager.ui.ChartActivity" />
        <activity android:name="com.shop_manager.ui.SalesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>